body {
    text-align: center;
    margin: 0px;
}

.Hero {
    background: rgb(0,0,0,0.8);
    padding: 70px;
}

.Hero_Title {
    font-size: 4.5rem;
    line-height: 1rem;
    color: rgb(255 255 255);
}